// src/app/store-owner/store-owner.component.scss
.container {
  max-width: 900px;
}

.d-flex {
  display: flex;
  justify-content: space-between; // Căn đều các phần tử ngang
  align-items: center; // Căn giữa theo chiều dọc
}

h2 {
  font-weight: bold;
}

.table {
  th, td {
    text-align: center; // Căn giữa nội dung của th và td
    vertical-align: middle; // Căn giữa theo chiều dọc
  }

  .btn {
    margin: 0 5px; // Khoảng cách giữa các nút
  }
}

.modal-content {
  .form-label {
    font-weight: bold;
  }

  .form-control {
    margin-top: 0.5rem; // Khoảng cách phía trên cho các trường nhập liệu
  }
}
